<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You!!!!</title>
  </head>
  <body>
    <p><a href="/">cmon, add a task...</a></p>
    <p><a href="/viewTasks">or just look at the ones you've already made</a></p>
  </body>
</html>
